global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['localhost:9093']

scrape_configs:
{% for config in prometheus_scrape_configs %}
  - job_name: '{{ config.job_name }}'
    static_configs:
{% for target_config in config.static_configs %}
      - targets: {{ target_config.targets }}
{% endfor %}
{% endfor %}
